
#navbar{
	background-color: #7F43B0;
}
#navbarimg{
	border-radius: 50%;
	width: 50px;
	height: 50px;	
}
#company{
	font-size: 175%;
	padding-top: 10px;
		font-family: 'Baloo Bhaina', cursive;
	color:white;
}
#button{
	border: none;
	border-radius: 0;
	float:left;
	background-color: #9F73C3;
	margin-top: 1.5%;

}
#button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #8D6E76;
}
#buttonbox{
	margin-top: 0.9%
}

#engineouter{
	background-color: white;
	margin-top: 50px;
}
#engineinner{
	background-color: white;
	margin-left: 100px;
	margin-right: 100px;
}
.input[type=text] {
	
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}

.searchbox{
	margin-left:5%;
	margin-top: 45%;	
}
.dropbtntop {
    background-color: #7F43B0;
    color: white;
    padding: 8px;
    font-size: 22px;
    border: none;
    cursor: pointer;
}

.dropdowntop {
    position: relative;
    display: inline-block;
    float: right;
    margin-right: 4%;
}

.dropdowntop-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdowntop-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdowntop-content a:hover {background-color: #f1f1f1}

.dropdowntop:hover .dropdowntop-content {
    display: block;
}

.dropdowntop:hover .dropbtntop {
    background-color: #9F73C3;
}
.signin{
    font-weight: bold;

}
.trial1:hover .signin{
    background-color: #9F73C3;
}


.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #890C2B;
}
.dropdownbox1{
margin-top: 30%;
margin-left: 8%;

float:left;
}
.dropdownbox2{
    margin-top: 30%;
    margin-left: 12%;

    float: left;
}
.dropdownbox3{
    margin-top: 30%;
    margin-left: 12%;
    float: left;
}
.submitbutton{

    margin-top: 30%;
    margin-left: 40%;

}

.make_differ_text{
  text-align: center; font-size: 250%; color: black; background-color: white;
  font-family: 'Baloo Bhaina', cursive;
  margin-top: 20px;

}
.trybox{
    background: url('/home/tushar/Documents/10.01.17.html/anonymous043044/i4.jpg') no-repeat center center;
    min-height: 550px;
}

.texxt{
    font-size: 400%;

}
.footer{
    background-color: #9F73C3;
    height: 100px;
    width: 100%;

}
.footertext{
   font-family: 'Baloo Bhaina', cursive;
    color:white;
    font-size: 175%;
    text-align: center;
    padding-top: 1%;
}
.differ_no{
    /*display: inline-block;*/ 
       width: 32%; 
    font-size: 300%;
    /*height: 200px;*/
    }
.differ_border{
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 23%;
    padding-top: 70px;
    vertical-align: center;
    width: 200px;
    height: 200px;
    -moz-border-radius: 50%; /* or 50% */
    border-radius: 50%; /* or 50% */
    text-align: center;
}
.differ_text{
   text-align: center; 
   font-size: 150%; 
   color: #6A3442;

  font-family: 'Baloo Bhaina', cursive; 
}
.rupee{
    font-size: 250%;

}
.sharebox{
    padding-left: 5%;

}
.use_this_text{
    color: #890C2B;
    border-style: solid;
    border-width: 2px;
    font-weight: bold;
    border-radius: 3px;
    border-color: black;
    font-size: 22px;
    text-align: center;
}
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:10px;}


 .aboutus{
        background-color: #7E6269;
 }


.aboutus p{
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-left: 6%;
    margin-right: 1%;
}

input[type=submit]{
    width: 80px;
    margin: 20px 0px 30px 0px;
    text-align: center;
    font-size: 120%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #6E7076;
}